#post_content
  %h1= @post.title
  %p= @post.content

  #comments
    %h2
      = @post.comments.size
      Comments
    = render @post.comments

    %h3 Reply to thread
    = render "comments/form"
    %br/
    %br/
    %br/

  - if user_signed_in?
    = link_to "Edit", edit_post_path(@post), class: "button"
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button"
